/* Calendar Css */
.gray-dot {
  height:9px;
  width: 9px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.blue-dot {
  height: 9px;
  width: 9px;
  background-color: #40d0d3;
  border-radius: 50%;
  display: inline-block;
}
.red-dot {
  height: 9px;
  width: 9px;
  background-color: #ff0034;
  border-radius: 50%;
  display: inline-block;
}
.ui-widget.ui-widget-content{
  width: 100% !important;
}
.ui-datepicker .ui-datepicker-header{
  background-color: transparent !important;
  border: none !important;
}
#property-availability{
  display: flex;
}
.availability-calendar {
  overflow: hidden;
  width: 48%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  padding-right: 1px;
}
.availability-calendar .paging {
  text-align: center;
  font-size: 12px;
  position: relative;
  padding: 10px;
  background: #1ea69a;
  color: #fff;
}
.availability-calendar .paging .month-name {
  text-transform: uppercase;
  font-size: 18px;
}