/* Section Padding */
.section-padding {
  padding-top: 102px;
}
.hero-section .animation-left {
  position: absolute;
  z-index: 99;
  left: 10px;
  right: 0;
  top: -410px;
}
video::-webkit-media-controls-panel {
  display: none !important;
  opacity: 1 !important;
}
.title {
  display: block;
}
.title span {
  display: block;
  float: left;
  min-width: 7px;
  min-height: 10px;
  position: relative;
}
.text-animation-mobile .title span {
  font-size: 60px;
  min-width: 10px;
}
.text-animation-mobile-paragraph .title span {
  font-size: 24px;
}
.autocomplete-items {
  top: 57px;
}
.search-box-index input {
  border: none;
}
.search-box-index select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}
.search-box-index select {
  border: none;
  color: gray;
  text-align: left !important;
  font-size: 12px !important;
  height: 30px;
}
::placeholder {
  text-align: left !important;
  font-size: 12px !important;
}
.search-box-index .form-control {
  padding: 0px;
  text-align: left !important;
  font-size: 12px !important;
  color: gray;
  height: 30px;
}
.search-box-index .search-lable {
  font-size: 14px;
  font-weight: 500;
  text-align: left;
}
.autocomplete::placeholder {
  text-align: left;
}
.search-box-index .searchbutton-index {
  background-color: #fec657;
  height: 40px;
  width: 40px;
  border-radius: 12px;
  transition: width 0.2s;
}
.search-box-index .searchbutton-index:hover {
  width: 77px;
}
.search-box-index .search-button-text {
  display: none;
  transition: display 0.2s;
}
.search-box-index .searchbutton-index:hover .search-button-text {
  display: block;
}
.autocomplete input[type="text"] {
  font-size: 13px;
  color: gray;
}
.search-box-index {
  bottom: -22px;
  left: 0;
  right: 0;
  position: relative;
  animation: animation linear 10.7s;
}

@keyframes animation {
  0% {
    bottom: 0px;
    transform: translate(-415px);
    width: 30%;
    opacity: 0.1;
  }
  10% {
    bottom: 80px;
    transform: translate(-415px);
    width: 30%;
    opacity: 0.1;
  }
  20% {
    bottom: 130px;
    transform: translate(-415px);
    width: 30%;
    opacity: 0.1;
  }
  30% {
    bottom: 170px;
    transform: translate(-415px);
    width: 30%;
    opacity: 0.3;
  }
  40% {
    bottom: 213px;
    transform: translate(-415px);
    width: 30%;
    opacity: 0.7;
  }
  50% {
    bottom: 213px;
    transform: translate(-415px);
    width: 30%;
    opacity: 1;
  }
  60% {
    bottom: 170px;
    transform: translate(-270px);
    width: 45%;
    opacity: 1;
  }
  70% {
    bottom: 100px;
    transform: translate(-180px);
    width: 55%;
    opacity: 1;
  }
  80% {
    bottom: 0px;
    transform: translate(-90px);
    width: 65%;
    opacity: 1;
  }
  90% {
    bottom: -23px;
    transform: translate(0);
    width: 79%;
    opacity: 1;
  }
  100% {
    bottom: -23px;
    transform: translate(0);
    width: 90%;
    opacity: 1;
  }
}
/* Common Button */

/* tealish-color button */
.teaslih-text-button {
  background-color: transparent;
  color: #40d0d3;
  border: 2px solid #40d0d3;
  outline: none;
  padding: 8px 18px;
  border-radius: 8px;
  font-weight: 500;
  transition: transform 0.2s;
}
.teaslih-text-button:hover {
  transform: scale(1.07);
}
.hot-deail-text {
  color: #ef3b3c !important;
}
/* Header */
header {
  background-color: transparent;
  box-shadow: unset;
}
.header-index .nav-bar ul {
  list-style: none;
  text-decoration: none;
  font-size: 12px;
  margin: 0;
}
.header-index .nav-bar ul li {
  margin-right: 40px;
  cursor: pointer;
  transition: 0.2s;
}
.header-index .nav-bar ul li a {
  text-decoration: none;
  list-style: none;
  font-weight: 500;
  color: unset;
}
.header-index .nav-bar ul li a:hover {
  color: #40d0d3;
}
.index-active {
  color: #40d0d3 !important;
}
/* apartments */
.apartments {
  padding-top: 100px;
}
.carousel-indicators li {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 20px;
  height: 3px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  background-color: rgba(199, 199, 199, 0.5);
  height: 20px;
  border-radius: 32px;
  cursor: pointer;
}
.carousel-indicators .active {
  background-color: #40d0d3;
}
.owl-carousel .owl-stage-outer {
  min-height: 440px;
}
.carousel-indicators {
  bottom: -62px;
}
.carousel-animation {
  z-index: 99;
  animation: carouselFirst 2s;
}
.carousel-control-prev,
.carousel-control-next {
  display: none;
}
/* .carousel-inner{
  overflow:visible;
} */

/* Hot Deals */
.tealish-badge {
  border-radius: 4px;
  padding: 8px 12px;
  left: -8px;
  top: 12px;
}
.tealish-badge::after {
  content: "";
  border-left: 9px solid transparent;
  border-right: 0px solid transparent;
  border-top: 9px solid #40d0d3;
  position: absolute;
  left: 0px;
  bottom: -7px;
}
.single-premium-card {
  background-image: url("../../assets/images/single-premium-card.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 187px;
  width: 30%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.something-for-you-image {
  background-image: url("../images/something-foe-you.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 221px;
}
.something-for-you-image .image-inner-card {
  right: 10px;
  top: 12px;
  border-radius: 12px;
}
@keyframes carouselFirst {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Top Destination */
.top-destination .top-destination-card .top-destination-card-inner-one {
  background-image: url("../images/pexels-alleksana-4226100.jpg");
  min-height: 340px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
}
.top-destination .top-destination-card .top-destination-card-inner-two {
  background-image: url("../images/pexels-pierre-blaché-2901209.jpg");
  min-height: 340px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
}
.top-destination .top-destination-card .top-destination-card-inner-three {
  background-image: url("../images/pexels-pierre-blaché-2901215.jpg");
  min-height: 340px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
}

/* Choice of the day */

.choice-of-the-day .carousel-inner {
  overflow: visible;
}
.choice-of-the-day .choice-of-the-day-inner {
  padding: 20px 168px 20px 40px;
  right: -200px;
}
.choice-carousel-image {
  border: 14px solid #f2f2f2;
  border-radius: 51px;
}
/* Open Travel Zone */
.open-zone-left {
  background-image: linear-gradient(to bottom right, #1db3e1, #3dc7ad);
  min-height: 496px;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
}
.open-zone-left .open-zone-inner-left {
  margin-left: 80px;
  width: 53%;
  padding-bottom: 90px;
}
.open-zone-right {
  border: 14px solid rgba(255, 255, 255, 0.5);
  border-radius: 41px;
}
/* New Offer */
.wrapper {
  overflow: hidden;
}
.swiper-pointer-events {
  width: 110% !important;
  padding-top: 30px;
  margin: 0 auto !important;
  overflow: hidden !important;
  position: relative;
  right: 6%;
  min-height: 570px;
}
.swiper .content-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ".";
  width: 100%;
  justify-items: center;
  align-items: center;
}
.swiper .content-wrapper .content {
  width: 100%;
}
.swiper .content-wrapper .content :first-child {
  margin: 0;
}
.swiper .content-wrapper .content .swiper-avatar {
  width: 100%;
  max-width: 245px;
  height: auto;
}
.swiper .swiper-slide {
  margin: 0;
  height: auto;
  width: 100%;
  padding: 0;
  transition: all 0.5s ease-in-out;
}
.swiper .swiper-nav-wrapper {
  bottom: 45px;
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: auto;
  padding-top: 13px 0px;
}
.swiper .swiper-nav-wrapper .swiper-button-next,
.swiper .swiper-nav-wrapper .swiper-button-prev {
  top: 100;
  top: auto;
  left: auto;
  right: auto;
  position: relative !important;
}
.swiper .swiper-nav-wrapper .swiper-button-next:after,
.swiper .swiper-nav-wrapper .swiper-button-prev:after {
  display: none;
}
.swiper-button-prev {
  background-image: url("../images/icons/left-arrow.png");
  position: relative !important;
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  background-position: center;
  width: 20px;
  height: 20px;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.11);
  padding: 19px 26px;
  background-repeat: no-repeat;
  margin: 0;
}
.swiper-button-next {
  position: relative !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/icons/left-arrow.png");
  transform: rotate(180deg);
  background-position: center;
  width: 20px;
  height: 20px;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.11);
  padding: 19px 26px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  margin: 0;
}
.swiper-button-next:after {
  display: none;
}
.swiper-button-prev:after {
  display: none;
}
.swiper-pagination {
  margin: 0;
  padding: 0;
  width: auto;
  position: relative !important;
  display: block;
  width: auto;
}
.swiper-pagination .swiper-pagination-bullets {
  margin: 0;
}
.swiper-pagination .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0;
}
.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
}
.swiper-pagination-bullets.swiper-pagination-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  bottom: 0;
  top: 0;
  bottom: 0;
  width: auto;
  padding: 0 1.5em;
}
.swiper-pagination-bullet-active {
  /* transform: scale(1.5); */
  background: #40d0d3;
}

/* Join us section */
.join-us .join-us-inner {
  background-image: url("../images/tealish-women.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 567px;
}
.join-us .join-us-button {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 12px;
  padding: 15px 68px;
  transition: transform 0.2s;
}
.join-us .join-us-button:hover {
  transform: scale(1.1);
}
/* Client Review */
.client-review .client-img-border {
  border: solid 1px #40d0d3;
  border-radius: 50%;
  padding: 10px 10px;
  width: fit-content;
}
.client-review .swiper-pointer-events {
  min-height: 665px !important;
}
.client-review .swiper .swiper-nav-wrapper {
  bottom: 19px;
}
/* Frequently asked Question */
.faq-section .mb-0 > a {
  display: block;
  position: relative;
}

.faq-section .mb-0 > a:after {
  content: "\f067";
  font-family: "Font Awesome 5 Free";
  position: absolute;
  right: 0;
  font-weight: 600;
}

.faq-section .mb-0 > a[aria-expanded="true"]:after {
  content: "\f068";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
}
.frequently-asked-question a {
  color: unset;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  opacity: 0.9;
}
.frequently-asked-question .card {
  padding: 0px;
  background-color: transparent;
  border: none;
}
.border-accordian {
  box-shadow: 0 5px 13px 0 rgba(0, 0, 0, 16%);
  border-radius: 12px !important;
  padding: 30px 70px 30px 20px !important;
  border: 1.2px solid transparent !important;
}
.frequently-asked-question .accordian-description {
  font-size: 12px;
  width: 70%;
  color: #8d9598;
  padding: 10px 0px !important;
}

.card-body {
  border: none !important;
}
.frequently-asked-question .card-header {
  background-color: transparent;
  border: none;
  padding: 0px !important;
}
/* Footer */
.footer {
  padding-top: 52px;
}
.footer .footer-inner {
  border-top: 2px solid #1a8f91;
  padding: 54px 0px;
  border-bottom: 2px solid #1a8f91;
}
.footer .footer-links ul li {
  font-size: 12px;
  font-weight: 200;
  margin: 17px 0px;
}

.footer .footer-links ul li a:hover {
  color: #1db3e1;
  cursor: pointer;
}
.footer .footer-links ul {
  padding: 0;
}
.footer .footer-border-line {
  width: 26px;
  border-bottom: 3px solid #1db3e1;
  margin-top: 12px;
  margin-bottom: 28px;
}
.footer .social-media-icon {
  cursor: pointer;
  transition: transform 0.2s;
}
.footer .social-media-icon:hover {
  transform: scale(1.07);
}
.tealish-border-button {
  background-color: transparent;
  color: white;
  border: 2px solid #1a8f91;
  cursor: pointer;
  padding: 9px 21px;
  border-radius: 6px;
  transition: transform 0.2s;
}
.tealish-border-button:hover {
  transform: scale(1.1);
}
/* Show and hide */
.hide {
  opacity: 0;
  transition: opacity 0.5s;
}
.show {
  opacity: 1;
  transition: opacity 0.5s;
}
@media (max-width: 1199px) and (min-width: 320px) {
  /* Section Padding */
  .section-padding {
    padding-top: 70px;
  }
  /* Hero Section */
  .hero-section {
    overflow: hidden;
  }
  .hero-section .hero-mobile {
    background-color: #35b1f8;
    min-height: 550px;
  }
  .mobile-search-input-header {
    background-color: transparent;
    border: 1px solid #00b2d3;
    border-radius: 15px;
  }
  .search-button-mobile-inner {
    border-color: white;
    background-color: #f7f7f7;
    border: 2px solid transparent;
    border-radius: 25px;
    padding: 9px 5px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.11);
    width: 80% !important;
  }
  .search-mobile-index {
    animation: animation 3s linear;
  }
  @keyframes animation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .writeit {
    position: relative;
    left: 0;
    right: 0;
    top: 100px;
    color: white;
    font-weight: 500;
    text-align: left;
    line-height: 25px;
  }
  .writeit h1 {
    color: #ffc044;
    line-height: 20px;
    font-size: 48px;
  }
  .writeit h2 {
    line-height: 20px;
    font-size: 43px;
    padding-top: 9px;
    padding-bottom: 20px;
  }
  .writeit p {
    font-size: 26px;
    line-height: 28px !important;
  }
  /* .search-box-index {
    bottom: -49px;
    left: 0;
    right: 0;
    animation: unset;
  } */
  #search-index {
    background-color: white;
    position: fixed;
    inset: 0;
    z-index: 99;
    display: none;
    animation: display 0.2s linear;
    overflow: hidden;
  }
  @keyframes display {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  /* .search-box-index {
    height: fit-content;
    z-index: 99;
    top: 20%;
    border-radius: 20px;
  }
  .search-box-index div {
    width: 100%;
    border-right: none;
  }
  .search-box-index .search-box-inner {
    border-bottom: 1px solid #dee2e6;
    padding: 15px 0px;
  }
  .search-box-index .searchbutton-index {
    width: 80%;
    margin: 15px 0px;
  }
  .search-box-index .searchbutton-index:hover {
    width: 80%;
  } */

  .search-box-mobile-view .location-mobile-index .location-input-mobile {
    border-radius: 12px;
    padding: 10px 20px;
    border: 1px solid black;
    margin-top: 18px;
  }
  .search-box-mobile-view .location-mobile-index .autocomplete-items {
    top: 87px;
    left: 33px;
    height: 100%;
    overflow-y: unset;
  }
  .search-box-mobile-view .nearby-location-search-index {
    height: 378px;
    overflow-y: scroll;
    padding-bottom: 70px;
  }
  .search-box-mobile-view .guestes-mobile-index {
    height: 478px;
    overflow-y: scroll;
    padding-bottom: 70px;
  }
  #searhBar-index-date-picker-inline {
    width: 78%;
    margin: 0 auto;
    border-radius: 29px;
    border: 1px solid black;
    position: relative;
    top: 20px;
  }
  .search-box-mobile-view .back-button {
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px 14px;
    width: 100px;
  }
  .search-box-mobile-view .mobile-circle-inc-dec {
    border-radius: 50%;
    border: 1px solid black;
    width: 34px;
    height: 34px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .search-box-mobile-view .search-mobile-number-input {
    border: none;
    width: 70px;
    text-align: center;
  }
  .search-box-mobile-view .guests-mobile-search ::placeholder {
    text-align: center !important;
  }
  #search-calendar-mobile-index {
    display: none;
  }
  #search-guest-mobile-index {
    display: none;
  }
  /* Hamburger  */
  .top-item {
    margin-top: 100px;
  }
  header {
    margin: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 0px 5px 0px #ddd;
    position: fixed;
    z-index: 20;
  }
  .mobile-nav {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 52px;
    left: 0;
    width: 100%;
    transform: translateX(100%);
    transition: transform 260ms ease-in-out;
    background-color: white;
    border-left: 1px solid #eee;
  }
  .mobile-nav ul {
    margin: 0;
    padding: 0;
    border-top: 1px solid #eee;
  }
  .mobile-nav ul > li {
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 18px !important;
    cursor: pointer;
    border-bottom: 1px solid #eee;
    transition: 0.25s;
  }
  .mobile-nav ul > li span {
    display: block;
    font-size: 14px;
    color: #353535;
  }
  .mobile-nav ul > li a {
    color: #353535;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
  }
  .mobile-nav ul > li:hover {
    background-color: #dddddd;
  }
  .mobile-nav li#nav-signup {
    list-style: none;
    background-color: #00b2d3;
  }
  .mobile-nav ul > li#nav-signup span {
    color: #00b2d3;
  }
  .mobile-nav ul > li#nav-signup a {
    color: #ffffff;
  }
  .mobile-nav ul > li#nav-signup:hover {
    background-color: #006375;
  }
  input[type="checkbox"]:checked ~ nav {
    transform: translateX(0);
    z-index: 40;
  }
  input[type="checkbox"] {
    box-sizing: border-box;
    display: none;
    transition: all 0.25s;
  }
  .menuIconToggle {
    box-sizing: border-box;
    cursor: pointer;
    z-index: 40;
    height: 100%;
    width: 100%;
    width: 22px;
    margin: 0px;
    transition: all 0.3s;
  }
  .hamb-line {
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #444;
    transition: all 0.25s;
  }
  .hor {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
  }
  .dia.part-1 {
    position: relative;
    box-sizing: border-box;
    float: left;
    transition: all 0.25s;
  }
  .dia.part-2 {
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
    transition: all 0.25s;
  }
  input[type="checkbox"]:checked ~ .menuIconToggle > .hor {
    box-sizing: border-box;
    opacity: 0;
    transition: all 0.25s;
  }
  input[type="checkbox"]:checked ~ .menuIconToggle > .dia.part-1 {
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
    transition: all 0.25s;
  }
  input[type="checkbox"]:checked ~ .menuIconToggle > .dia.part-2 {
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
    transition: all 0.25s;
  }
  /* Props Section */
  .commission-pros .single-pros {
    width: 100%;
  }
  /* Apartments Section */
  .apartments .carousel-inner-card {
    width: 100%;
    padding-left: 20px;
    padding-right: 40px;
  }
  .carousel-animation {
    margin-top: 30px;
  }
  /* Hot Deals */
  .hot-deals .hot-deals-left {
    width: 100%;
    padding: 0px 21px;
  }
  .hot-deals .hot-deals-right {
    width: 100%;
    padding: 0px 21px;
  }
  .hot-deals .single-premium-card {
    width: 100%;
    border-top-right-radius: 13px;
    min-height: 243px;
  }
  .something-for-you-image {
    min-height: 253px;
  }
  .hot-deals .listing-premium-center-card {
    width: 100%;
  }
  .hot-deals .listing-card-inner-third {
    width: 100%;
  }
  /* Choice of the Day */
  .choice-of-the-day-main .choice-of-the-day-inner {
    position: unset !important;
    width: 100%;
    padding: 20px 20px;
    margin-top: 10px;
  }

  /* .swiper-pointer-events{
    width: 100% !important;
  } */
  .choice-of-the-day-main {
    padding-left: 20px;
    padding-right: 20px;
  }
  .choice-of-the-day-main .carousel-image img {
    height: 300px;
  }
  .choice-of-the-day-main .carousel-image {
    width: 100%;
  }
  /* Join Us */
  .join-us {
    padding-left: 20px;
    padding-right: 20px;
  }
  .join-us .join-us-inner {
    min-height: 424px;
    padding: 0px 20px;
    border-radius: 30px;
  }
  .join-us .become-host-heading {
    font-size: 20px;
  }
  .join-us .become-host-description {
    font-size: 16px;
  }
  /* Travel Zone */
  .travel-zone .open-zone-left-outer {
    width: 100%;
  }
  .travel-zone .open-zone-xltravel-button {
    width: 60%;
    margin: 0 auto;
  }
  .open-zone-left .open-zone-inner-left {
    width: 100%;
    margin: 0px;
    padding: 0px 20px;
  }
  .travel-zone .open-zone-right {
    position: unset !important;
    margin: 0px 20px;
  }
  .client-review .client-review-bottom {
    width: 75%;
  }
  /* Frequently Asked Question */
  .frequently-asked-question .border-accordian {
    padding: 20px 20px !important;
  }
  .frequently-asked-question .accordian-description {
    width: 100%;
  }
  .frequently-asked-question {
    padding: 0px 20px;
  }
  /* Footer */
  .footer {
    padding: 54px 20px;
  }
  .footer .footer-single {
    width: 100%;
  }
  .footer .logo-side {
    text-align: center;
  }
  .footer .footer-border-line {
    padding-top: 10px;
  }
  .footer .list-inner {
    width: 100% !important;
  }
  .footer .footer-link-headings {
    font-size: 13px;
  }
  /* Facalities */
  .single-facality .facalities-number {
    font-size: 10px;
  }
  /* Swiper Wrapper */
  .swiper .content-wrapper {
    min-height: 479px;
  }
  .swiper .swiper-nav-wrapper {
    bottom: 3px;
  }
  .client-review .swiper {
    min-height: 600px;
  }
  .client-review .swiper .swiper-nav-wrapper {
    bottom: 36px;
  }
  .top-destination .arrows {
    top: 42% !important;
  }
}
/* Query for iPad */
@media (max-width: 900px) and (min-width: 700px) {
  .commission-pros .single-pros {
    width: 45% !important;
  }
  .search-box-mobile-view .nearby-location-search-index {
    height: 378px;
    overflow-y: scroll;
    padding-bottom: 152px;
  }
  .search-box-mobile-view .guestes-mobile-index {
    height: 378px;
    overflow-y: scroll;
    padding-bottom: 152px;
  }
}
