/* Header */
.header-main {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 200;
}
.header-main .nav-bar ul {
  margin: 0px;
}
.header-main .nav-bar ul li {
  margin-right: 6px;
  cursor: pointer;
  color: white;
  font-size: 13px;
  padding: 9px 10px;
  border-radius: 12px;
  transition: 0.2s;
}
.header-main .nav-bar ul li a {
  text-decoration: none;
  list-style: none;
  color: white;
}
.nav-bar .active {
  background-color: #40d0d3;
}
.header-main .nav-bar ul li:hover {
  background-color: #40d0d3;
}
.header-main .nav-bar ul img {
  transition: 0.2s;
}
.header-main .nav-bar ul img:hover {
  transform: scale(1.1);
}
/* Hero Section */
.hero-section {
  background-image: url("../images/rvr-header-bg-03.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 327px;
  width: 100%;
}
.rh_banner__cover {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 327px;
  background: rgba(0, 0, 0, 0.5);
}
.search-bar {
  position: absolute;
  left: 0;
  right: 0;
  top: 290px;
}
.search-bar .search-bar-inner {
  background-color: white;
  border-radius: 60px;
  box-shadow: 6px 26px 35px 0 rgba(0, 0, 0, 0.04);
}
.search-bar .search-bar-inner .search-border-inner {
  width: 29%;
}
.search-bar .search-bar-inner .search-icon {
  border-radius: 50px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 11px;
}
.search-bar .search-bar-inner .search-icon:hover {
  background-color: #ce9930;
}
.search-bar .search-bar-inner .search-icon img {
  padding: 16px 18px;
}
/* Properties Detail Left Side */
.properite-detail {
  padding-bottom: 150px;
}
.facalities-icons-main .single-facality {
  margin-right: 28px;
}
.properite-detail .progress-detial-left-side {
  width: 68%;
}
/* Home Page Image Slider */
.properite-image-slider .properite-image-slider-wrapper {
  padding-top: 92px;
  width: 90%;
  margin: 0 auto;
}
/* properite-image-collage */
.properite-image-collage .properite-collage-first-image {
  background-image: url("../images/homePageIMageOne.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 326px;
}
.properite-image-collage .properite-collage-second-image {
  background-image: url("../images/homePageImageTwo.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 163px;
}
.properite-image-collage .properite-collage-third-image {
  background-image: url("../images/homePageImageThree.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 163px;
}
.properite-image-collage .properite-collage-four-image {
  background-image: url("../images/homePageImageFour.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 137px;
  margin-top: 1px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.image-slider .image-slider-hero img {
  height: 110px;
  border-radius: 12px;
  opacity: 0.7;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.image-slider .image-slider-hero img:hover {
  opacity: 1;
}
/* Slider */

/* Home page width */
.properite-detail .properite-detail-wrapper {
  width: 90%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
  .card-body {
    align-items: center;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* display 3 */
@media (min-width: 768px) {
  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(33.333%);
  }

  .carousel-inner .carousel-item-left.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-33.333%);
  }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
  transform: translateX(0);
}
.carousel-control-next {
  right: -34px !important;
}
.carousel-item .card-body {
  padding: 14px 20px;
  border-radius: 12px;
}
/* Slider Ends */

/* ProgressBar  */
.properite-progress .progress {
  height: 4px;
  width: 80%;
}
.properite-progress .progress-bar {
  background-color: #222222;
  opacity: 0.8;
}
.reviews-section .reviews-section-inner {
  width: 45%;
}
/* video secion */
.video-section iframe{
  height:375px;
}
.map-section iframe{
  height:375px;
}
/* Right SIde Cards */
.cards-right {
  width: 31%;
}
.cards-right .hosted-card-second {
  background-image: linear-gradient(#40d0d3, #ffffff);
}
.properite-form .properite-form-input {
  border-top: none;
  border-right: none;
  border-left: none;
  background-color: transparent;
  outline: none;
}
.properite-form ::-webkit-input-placeholder {
  font-size: 10px;
  color: #848280;
  font-weight: 500;
}
.select-outer {
  border: none;
  background-color: white;
  border-radius: 10px;
  outline: none;
  border: none;
  padding: 0px 0px;
}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: 100% !important;
}
.properite-form-input-number {
  padding: 2px 7px !important;
  outline: none !important;
}
.btn-light:not(:disabled):not(.disabled).active,
.btn-light:not(:disabled):not(.disabled):active,
.show > .btn-light.dropdown-toggle {
  background-color: transparent !important;
  border: none !important;
  outline: none !important;
}
.border-bottom-none {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
.bootstrap-select .dropdown-menu.inner {
  background-color: #40d0d3;
}
.dropdown-item.active,
.dropdown-item:active {
  background-color: #36afb1 !important;
}
.dropdown-adult-children .dropdown-menu {
  padding: 0px 0px;
  min-height: 76px !important;
  min-width: 100% !important;
  transform: translate3d(0px, 25px, 0px) !important;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
/*  btn dropdown-toggle btn-light*/
.dropdown-adult-children .dropdown-menu .inner {
  transform: unset !important;
  max-height: 150px !important;
  background-color: turquoise;
}
.dropdown-adult-children .btn-light {
  background-color: transparent !important;
  outline: none;
  border: none !important;
}
.dropdown-adult-children .dropdown-menu ul li a {
  font-size: 13px;
}
.dropdown-adult-children .dropdown-menu a:hover {
  background-color: #36afb1 !important;
}
.btn:not(:disabled):not(.disabled) {
  font-size: 13px;
  color: #808080;
}
/* CheckBox */
.cb-label {
  display: block;
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.cb-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 19px;
  width: 19px;
  background-color: transparent;
  border: 1.5px solid #ffc044;
  border-radius: 5px;
}

/* On mouse-over, add a grey background color */

/* When the checkbox is checked, add a blue background */
.cb-label input:checked ~ .checkmark {
  background-color: transparent;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.cb-label input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.cb-label .checkmark:after {
  left: 6px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 1.2px 1.2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* CheckBox End */

.properite-form-input-number {
  background-color: white;
  border-radius: 10px;
  width: 95%;
  border: none;
  outline: none;
  padding: 12px 14px;
}
.properite-form-input-number ::-webkit-input-placeholder {
  padding-left: 10px;
}
.properite-form .properite-form-input {
  width: 100%;
}
.form-yellow-button {
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 9px;
  background-color: #ffc044;
  padding: 9px 0px;
  font-size: 14px;
  font-weight: 500;
  transition: transform 0.2s;
}
.form-yellow-button:hover {
  transform: scale(1.1);
}
.form-yellow-button:focus{
outline: none !important;
}

.property-surrounding-list{
  width: 47%;
  margin: 0 auto;
}
/* Responsive */
@media (max-width: 1199px) and (min-width: 320px) {
  .header-logo img {
    height: 30px;
  }
  .hero-section {
    min-height: 66px;
    position: relative;
    top: 41px;
  }
  .rh_banner__cover {
    height: 66px;
  }
  .search-bar {
    top: 51px;
  }
  .search-bar .search-bar-inner .search-icon {
    width: 100%;
    margin: 0px 0px;
  }
  .search-bar .search-bar-inner {
    border-radius: 12px;
  }
  .properite-detail .progress-detial-left-side {
    width: 100%;
  }
  .properite-image-slider .properite-image-slider-wrapper {
    padding-top: 283px;
    width: 100%;
    margin: 0 auto;
    padding-right: 30px;
    padding-left: 30px;
  }
  .search-bar-inner .search-border-inner {
    border-right: none !important;
  }
  .search-bar .search-bar-inner .search-border-inner {
    width: 100%;
  }
  .search-bar .search-bar-inner .search-icon {
    border-radius: unset;
  }
  .properite-image-collage .properite-collage-first-image {
    min-height: 141px;
  }
  .properite-image-collage .properite-collage-second-image {
    min-height: 78px;
  }
  .properite-image-collage .properite-collage-third-image {
    min-height: 61px;
  }
  .properite-image-collage .properite-collage-four-image {
    min-height: 60px;
  }
  .image-slider .image-slider-hero img {
    height: 32px;
    border-radius: 7px;
  }
  .properite-detail .properite-detail-wrapper {
    width: 100%;
    margin: 0 auto;
  }
  .video-section iframe{
    height:200px;
  }
  .map-section iframe{
    height:200px;
  }
  /* Right side cards */
  .cards-right {
    width: 100%;
  }
  .dropdown-item {
    padding: 0.25rem 0.5rem !important;
  }
  .dropdown .btn-secondary {
    background-color: #bfbfbf !important;
    border: none;
    padding: 2px 43px;
  }

  .calendar {
    width: 100%;
  }
  .rules p {
    font-size: 8px !important;
  }
  .properite-facalities p {
    font-size: 8px !important;
  }
  .charges p {
    font-size: 8px;
  }
  /* Review Section */
  .reviews-section .reviews-section-inner {
    width: 100%;
  }
  .properite-form .properite-form-input {
    width: 100%;
  }
  /* Hamburger  */
  .top-item {
    margin-top: 100px;
  }
  .header-main {
    background-color: white;
  }
  header {
    margin: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 0px 5px 0px #ddd;
    position: fixed;
    z-index: 20;
  }
  .mobile-nav {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 38px;
    left: 0;
    width: 100%;
    transform: translateX(100%);
    transition: transform 260ms ease-in-out;
    background-color: white;
    border-left: 1px solid #eee;
  }
  .mobile-nav ul {
    margin: 0;
    padding: 0;
    border-top: 1px solid #eee;
  }
  .mobile-nav ul > li {
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
    transition: 0.25s;
  }
  .mobile-nav ul > li span {
    display: block;
    font-size: 14px;
    color: #353535;
  }
  .mobile-nav ul > li a {
    color: #353535;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
  }
  .mobile-nav ul > li:hover {
    background-color: #dddddd;
  }
  .mobile-nav li#nav-signup {
    list-style: none;
    background-color: #00b2d3;
  }
  .mobile-nav ul > li#nav-signup span {
    color: #00b2d3;
  }
  .mobile-nav ul > li#nav-signup a {
    color: #ffffff;
  }
  .mobile-nav ul > li#nav-signup:hover {
    background-color: #006375;
  }
  input[type="checkbox"]:checked ~ nav {
    transform: translateX(0);
    z-index: 40;
  }
  input[type="checkbox"] {
    box-sizing: border-box;
    display: none;
    transition: all 0.25s;
  }
  .menuIconToggle {
    box-sizing: border-box;
    cursor: pointer;
    z-index: 40;
    height: 100%;
    width: 100%;
    width: 22px;
    margin: 0px;
    transition: all 0.3s;
  }
  .hamb-line {
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #444;
    transition: all 0.25s;
  }
  .hor {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
  }
  .dia.part-1 {
    position: relative;
    box-sizing: border-box;
    float: left;
    transition: all 0.25s;
  }
  .dia.part-2 {
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
    transition: all 0.25s;
  }
  input[type="checkbox"]:checked ~ .menuIconToggle > .hor {
    box-sizing: border-box;
    opacity: 0;
    transition: all 0.25s;
  }
  input[type="checkbox"]:checked ~ .menuIconToggle > .dia.part-1 {
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
    transition: all 0.25s;
  }
  input[type="checkbox"]:checked ~ .menuIconToggle > .dia.part-2 {
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
    transition: all 0.25s;
  }
  /* Right Side Form */
  .properite-form-input-number {
    width: 119px;
    padding: 9px 9px;
  }
  .property-surrounding-list{
    width: 100%;
  }
  /* Carousel */
  .carousel-control-next {
    right: -17px !important;
  }
}
